<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/head.html :: head(${repositoryName})"></head>

<body>
<div class="ui container">
    <div th:replace="fragments/menubar.html :: menubar()"></div>

    <h2 th:text="${repositoryName}"></h2>
    <br/>


    <th:block th:each="unmergedCommit : ${lastScan.unmergedCommitList}">
        <div class="ui relaxed divided list">
            <div class="item">
                <div class="content">
                    <a class="header" th:text="${unmergedCommit.branchName}"></a>
                    <div class="description" th:text="@{'[' + ${unmergedCommit.commitSha} + '] ' + ${unmergedCommit.commitSubject}}"></div>
                </div>
            </div>
        </div>
    </th:block>
    <br/>

</div> <!-- End container -->

</body>
</html>
